* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: .3fr 1fr .8fr .3fr; 
    grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside content-1 content-2 content-3"
    "footer footer footer footer"
    ;
}
@media (max-width:599px){
    section{
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .7fr .5fr .8fr  .8fr .8fr .3fr; 
        grid-template-areas:
        "header"
        "main"
        "aside"
        "content-1"
        "content-2"
        "content-3"
        "footer"
        ;
    }  
    section aside{
        overflow: auto;
    }


}
@media (min-width:600px) and (max-width:1050px){
    section{
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 0.3fr 1.3fr 0.5fr .7fr .3fr;
        grid-template-areas:
        "header header header"
        "main main main"
        "aside aside aside"
        "content-1 content-2 content-3"
        "content-1 content-2 content-3"
        "footer footer footer"
        ;
    }


   
}

section >*{
    padding:20px;
}
/* /////////////////////////// */

section header{
    background: rgb(38,32,13);
    background: -webkit-linear-gradient(left , rgba(38,32,13,1) 23%, rgba(2,40,42,1) 56%, rgba(23,6,2,1) 86%);
    text-transform: capitalize;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section header h2 {
    color: white;
    text-shadow: 2px 2px 2px rgb(4, 185, 191), -2px -2px 2px rgb(4, 185, 191);
    cursor: pointer;
}

section header ul{
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-evenly;

}
section header i{
    color: aliceblue;
    font-size: 20px;
    
} 
@media (max-width:599px) {
    section header ul{
        display: none;
        
    }
    section header i:hover +ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
        justify-content: space-between;
        text-align: center;
    }

}

@media (min-width:598px) {
    section header i{
        /* display: none; */
        opacity: 0;
    } 
}

section header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: .5s;
 }
section header a:hover,
section header .active{
    padding-bottom: 25px;
    color: cadetblue;
 }
 /* /////////////////////// */

section aside{
    background-color: rgb(255, 225, 0);
    grid-area: aside;
    color: white;
    background:-webkit-linear-gradient( left ,rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(../img/image6.jpg) no-repeat;
    background-size: cover;
    /* overflow: auto; */
}
section aside h3 {
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgb(126, 191, 4), -2px -2px 2px rgb(191, 66, 4);
    margin-bottom: 20px;
}
section aside p {
    line-height: 1.4;
    color: #e1e1e1;
}
section aside p::first-line {
    color: cadetblue;
    font-weight: bold;
    font-size: 18px;
}

/* //////////////// */
section main{
    background-color: rgb(161, 31, 5);
    grid-area: main;
    background: url(../img/Chip-Apple-A16-Bionic-3.webp) no-repeat;
    background-size: cover;
    /* background-position: center -100px ; */
    border: 2px solid black;
}
section main h3 {
    color: white;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgb(0, 202, 108), -2px -2px 2px rgb(0, 255, 217);
}
/* ///////////////// */
section .content-1{
    background-color: rgb(10, 128, 128);
    grid-area: content-1;
    background: url(../img/image7.jpg) no-repeat;
    background-size: cover;
    /* background-position: center -20px; */
}

section .content-2{
    background-color: rgb(88, 44, 104);
    grid-area: content-2;
    background: url(../img/images.jpeg) no-repeat;
    background-size: cover;
    /* background-position: -70px center ; */
    border-left: 2px solid black;
    border-right: 2px solid black;
}


section .content-3{
    background-color: rgb(228, 112, 205);
    grid-area: content-3;
    background: url(../img/image5.jpg) no-repeat;
    background-size: cover;
    /* background-position: center -40px; */
}

section div h3 {
    color: white;
    text-shadow: 2px 2px 2px rgb(49, 84, 0), -2px -2px 2px rgb(0, 255, 217);
}
/* ///////////////////////// */
section footer{
    background: url(../img/image1.jpg);
    grid-area: footer;
    text-align: center;
    align-content: center;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
section footer span {
    text-transform: uppercase;
    color: cadetblue;
    cursor: pointer;
}
